.Landing {
    max-width: 100vw;
    height: calc(100% - var(--navbar-height));
    min-height: calc(100vh - var(--navbar-height));
    overflow-x: hidden;
    background: white;
}
.Landing .Hero {
    height: 500px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.Landing, .Landing .Hero {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.Landing .Hero img {
    position: absolute;
    height: 494px;
    width:494px;
}

.Landing .Hero h1, .Landing .Hero p {
    color: var(--pure-white);
    position: relative;
    z-index: 10;
}

.Landing .Hero h1 {
    font-size: 76px;
    font-weight: 700;
}

.Landing .Hero p {
    font-size: 24px;
}

.Landing .Hero h1, .Landing .Hero p {
    color: var(--pure-white);
    position: relative;
    z-index: 10;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.Landing .tiles {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 750px;
    margin: 50px auto 0;
}